html{
    height: 100%;
}

body{
    background-color: #ed7677;
    margin: auto;
    font-family: arial;
    color: #aeaeae;
    height: 100%;
}

.formbox{
    background: #edecec;
    width: 40%;
    margin: 20% auto;
    display: block;
    box-shadow: 0 0 20px 0px #00000085;
}

.center{
    text-align: center;
    display: block;
    padding: 14px;
}

input{
    display: block;
    margin: 12px auto;
    padding: 8px 12px;
    width: 70%;
    color: #cecece;
    border: solid 1px  #ebebeb;
}

button{
    background-color: #7dd9d5; 
    color: #d5f2f0;
    border: none;
    margin: auto;
    padding: 12px 30px;
    display: block;
}

input{
    display: block;
    margin: 12px    auto;
    padding: 8px 12px;
    color: #cecece;
}

input::placeholder{
    color: #e1e1e1;
}

.rp{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.remember{
    text-align: left;
}